{% extends "base.html" %}

{% block content %}
<h2 class="mb-4">Все рецепты</h2>
<a href="/" class="btn btn-secondary mb-3">← Назад</a>
{% for recipe in recipes %}
    <div class="recipe-card mb-3">
        <h4>{{ recipe.title }}</h4>
        {% if recipe.image %}
            <img src="{{ url_for('static', filename=recipe.image) }}" style="max-width:300px;">
        {% endif %}
        <p>{{ recipe.text }}</p>
        <div>
            ❤️ {{ recipe.likes }} |
            👁️ {{ recipe.views }}
        </div>
        <a href="/recipe/{{ recipe.id }}" class="btn btn-custom-green mt-2">
            Открыть
        </a>
    </div>
{% endfor %}
{% endblock %}