{% extends "base.html" %}

{% block content %}
<a href="{{'/'}}" class="btn btn-secondary">← Назад</a>
<div class="chat-container">
    <h3 class="text-center mb-3">Чат с {{ user.name }}</h3>
    <div class="chat-box">
        {% for m in messages %}
            <div>
                {% if m.sender_id == current_user.id %}
                    <div class="my-msg">
                        {{ m.text }}
                    </div>
                {% else %}
                    <div class="other-msg">
                        {{ m.text }}
                    </div>
                {% endif %}
            </div>
            <div class="message-time">{{ m.created_at.strftime('%H:%M') }}</div>
        {% endfor %}
    </div>
    <form method="post" class="chat-input">
        <input type="text" name="text" class="form-control" placeholder="Сообщение">
        <button class="btn btn-custom-green">➤</button>
    </form>
</div>
{% endblock %}