{% extends "base.html" %}

{% block content %}
<a href="{{ request.referrer or '/' }}" class="btn btn-secondary">← Назад</a>
<h2 class="text-center mb-3">Чаты</h2>
<div class="chat-list">
    {% for user in users %}
        <a href="/chat/{{ user.id }}" class="chat-item">
            <div class="chat-item-name">
                {{ user.name }}
            </div>
            <div class="chat-item-sub">
                @{{ user.username }}
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}