{% extends "base.html" %}

{% block content %}
<h2>Новый рецепт</h2>
<form method="post" enctype="multipart/form-data">
    <div class="recipe-image-upload">
        <label for="image-input">
            <div class="recipe-upload-box">
                Нажмите, чтобы выбрать изображение
            </div>
        </label>
        <input type="file" name="image" id="image-input" hidden>
    </div>
    <img src="{{ url_for('static', filename=recipe.image) }}" style="max-width:200px;">
    <p>
        Название<br>
        <input type="text" name="title" class="form-control" value="{{ recipe.title }}">
    </p>
    <p>
        Категория<br>
        <input type="text" name="category" class="form-control" value="{{ recipe.category }}">
    </p>
    <p>
        Кухня<br>
        <input type="text" name="cuisine" class="form-control" value="{{ recipe.cuisine }}">
    </p>
    <p>
        Сложность<br>
        <input type="text" name="complexity" class="form-control" value="{{ recipe.complexity }}">
    </p>
    <p>
        Ингредиенты<br>
        <textarea name="ingredients" class="form-control">{{ recipe.ingredients }}</textarea>
    </p>
    <p>
        Время готовки<br>
        <input type="text" name="cooking_time" class="form-control" value="{{ recipe.cooking_time }}">
    </p>
    <p>
        Тип блюда<br>
        <input type="text" name="type" class="form-control" value="{{ recipe.type }}">
    </p>
    <p>
        Описание<br>
        <textarea name="text" class="form-control">{{ recipe.text }}</textarea>
    </p>
    <button class="btn btn-custom-green">Сохранить</button>
</form>
<script>
document.getElementById('image-input').onchange = function (evt) {const [file] = this.files
if (file) {const preview = document.getElementById('preview')
preview.src = URL.createObjectURL(file)
preview.style.display = 'block'}}
</script>
{% endblock %}