{% extends "base.html" %}

{% block content %}
<h2 class="mb-4">Лучшие рецепты</h2>
<a href="/" class="btn btn-secondary mb-3">← Назад</a>
{% for recipe in recipes %}
<div class="d-flex mb-4">
    <div class="recipe-card me-3" style="width: 60%;">
        <h4>{{ recipe.title }}</h4>
        {% if recipe.image %}
            <img src="{{ url_for('static', filename=recipe.image) }}" style="max-width:100%;">
        {% endif %}
        <p>{{ recipe.text }}</p>
        <a href="/recipe/{{ recipe.id }}" class="btn btn-custom-green">
            Открыть
        </a>
    </div>
    <div class="stats-box" style="width: 40%;">
        <h5>Почему в топе?</h5>
        <img src="{{ url_for('static', filename='img/plike.png') }}" class="icon"> {{ recipe.likes }}
        <img src="{{ url_for('static', filename='img/plook.png') }}" class="icon"> {{ recipe.views }}
        {% if current_user.is_authenticated and current_user.id != recipe.user_id %}
            <a href="/like/{{ recipe.id }}" class="btn btn-custom-purple w-100 mb-2">
                <img src="{{ url_for('static', filename='img/like.png') }}" class="icon">
                   Лайк
            </a>
            <button class="btn btn-custom-purple w-100 subscribe-btn"
                    data-user-id="{{ recipe.user_id }}"
                    data-url="{{ url_for('subscribe', user_id=recipe.user_id) }}">
                Подписаться
            </button>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}